body {
    display: flex;
    align-items: flex-start;
}

.blue {
    padding: 20px;
    background-color: blue;
}

.yo {
    padding: 20px;
    margin: 10px;
    background-color: yellow;
}

.red {
    padding-right: 80px;
    background-color: yellow;
}

.green {
    padding-bottom: 80px;
    background-color: yellow;
}

.purple {
    padding-right: 80px;
    padding-bottom: 80px;
}

.flex {
    display: flex;
}