body {
    display: flex;
    align-items: flex-start;
}

.blue {
    padding: 20px;
    background-color: blue;
}

.yo {
    padding: 20px;
    margin: 10px;
    background-color: yellow;
}

.red {
    padding-right: 80px;
    background-color: yellow;
}

.green {
    padding-bottom: 80px;
    background-color: yellow;
}

.flex {
    display: flex;
}

.coluna {
    flex-direction: column;
}

.pequeno {
    flex: 1;
}

.grande {
    flex: 2;
}

.container-pai {
    display: flex;
}

.container-filho {
    display: flex;
    flex-direction: column;
}

